{% macro vhost_content() %}
DocumentRoot {{ document_root }}
DirectoryIndex index.html index.htm index.php index.php4 index.php5

<Directory {{ document_root }}>
    Options -Indexes +FollowSymLinks +MultiViews
    AllowOverride All
    Require all granted
</Directory>

ErrorLog ${APACHE_LOG_DIR}/{{ domain_name }}.error.log
CustomLog ${APACHE_LOG_DIR}/{{ domain_name }}.access.log combined
{% endmacro %}

<VirtualHost *:80>
    ServerName {{ domain_name }}
    ServerAdmin {{ admin_email }}

    {% if use_ssl == true and domain_name != project_name %}
    <IfModule mod_rewrite.c>
        RewriteEngine On
        RewriteCond %{HTTPS} !=on
        RewriteRule ^ https://%{SERVER_NAME}%{REQUEST_URI} [END,QSA,R=permanent]
    </IfModule>
    {% else %}
    {{ vhost_content() | indent(4, False, False) }}
    {% endif %}
</Virtualhost>

{% if use_ssl == true and domain_name != project_name %}
<IfModule mod_ssl.c>
    <VirtualHost *:443>
        ServerName {{ domain_name }}
        ServerAdmin {{ admin_email }}

        {{ vhost_content() | indent(8, False, False) }}
        SSLEngine                   On
        SSLCertificateFile          /etc/letsencrypt/live/{{ domain_name }}/fullchain.pem
        SSLCertificateKeyFile       /etc/letsencrypt/live/{{ domain_name }}/privkey.pem
    </VirtualHost>
</IfModule>
{% endif %}
